# __Assisted Practice: Building Deep Neural Networks on TensorFlow__
Building Deep Neural Networks on TensorFlow refers to the process of designing and constructing neural network models using the TensorFlow framework. This involves defining the architecture of the neural network, selecting appropriate layers and activation functions, specifying the optimization algorithm, and training the model using data.
Let's understand how to build a neural network on TensorFlow.



## Steps to Be Followed:
1. Importing the required libraries
2. Loading and inspecting the data
3. Building the model
4. Training the model

### Step 1: Importing Required Libraries

- Import Pandas and NumPy packages
- Import the TensorFlow package, which is used for text-based applications, image recognition, voice search, and many more
- Import the Python package cv2, which is used for computer vision and image processing
- Import the Python package matplotlib, which sets the padding between and around the subplots as well as the figure size
- Import necessary libraries and modules for building a deep learning model using TensorFlow. It includes modules for convolutional and pooling layers, dropout, flattening, and dense layers
- Imports other libraries for data manipulation, visualization, and image processing

In [3]:
!pip3 install opencv-python

Collecting opencv-python
  Downloading opencv_python-4.9.0.80-cp37-abi3-macosx_10_16_x86_64.whl.metadata (20 kB)
Requirement already satisfied: numpy>=1.21.2 in /opt/anaconda3/envs/ipykernel_py3/lib/python3.12/site-packages (from opencv-python) (1.26.4)
Downloading opencv_python-4.9.0.80-cp37-abi3-macosx_10_16_x86_64.whl (55.7 MB)
   ━━━━━━━━━━━━━━━━━━━━━━━━━━━━━━━━━━━━━━━━ 55.7/55.7 MB 21.9 MB/s eta 0:00:0000:0100:01
Installing collected packages: opencv-python
Successfully installed opencv-python-4.9.0.80

In [6]:

import tensorflow as tf
from tensorflow import keras
from tensorflow.keras.layers import Conv2D, MaxPooling2D, Dropout, Flatten, Dense

import numpy as np

import matplotlib.pyplot as plt
import pandas as pd
import seaborn as sns

from six.moves import urllib

import os
import sys
import cv2
import IPython

### Step 2: Loading and Inspecting the Data


- It is loading the Boston Housing dataset using the **keras.datasets.boston_housing.load_data()** function.
- It splits the dataset into two sets: the training set **train_features** and **train_labels** and the testing set **test_features** and **test_labels**.
- The training set contains input features (e.g., crime rate and number of rooms) and corresponding target labels (e.g., the median value of owner-occupied homes).
- The testing set is used to evaluate the trained model's performance.

In [35]:

(train_features, train_labels), (test_features, test_labels) = keras.datasets.boston_housing.load_data()

- The mean **train_mean** and standard deviation **train_std** are calculated along the columns **axis=0** of the **train_features** array.
- Then, the **train_features** array is standardized by subtracting the mean and dividing by the standard deviation.
- This standardization process ensures that the features have a zero mean and unit variance, which can help improve the training performance and convergence of the model.

In [38]:
train_features_df = pd.DataFrame(train_features)
train_features_df

,0,1,2,3,4,5,6,7,8,9,10,11,12
0,-0.272246,-0.483615,-0.435762,-0.256833,-0.165227,-0.176443,0.813062,0.116698,-0.626249,-0.595170,1.148500,0.448077,0.825220
1,-0.403427,2.991784,-1.333912,-0.256833,-1.215182,1.894346,-1.910361,1.247585,-0.856463,-0.348433,-1.718189,0.431906,-1.329202
2,0.124940,-0.483615,1.028326,-0.256833,0.628642,-1.829688,1.110488,-1.187439,1.675886,1.565287,0.784476,0.220617,-1.308500
3,-0.401494,-0.483615,-0.869402,-0.256833,-0.361560,-0.324558,-1.236672,1.107180,-0.511142,-1.094663,0.784476,0.448077,-0.652926
4,-0.005634,-0.483615,1.028326,-0.256833,1.328612,0.153642,0.694808,-0.578572,1.675886,1.565287,0.784476,0.389882,0.263497
...,...,...,...,...,...,...,...,...,...,...,...,...,...
399,-0.381973,-0.483615,-0.616568,-0.256833,-0.933487,-0.938177,-0.251223,1.157680,-0.741356,-1.040501,-0.262093,0.448077,0.477421
400,-0.388221,0.358906,-0.609218,-0.256833,-0.796907,-0.038202,-1.888860,0.339660,-0.741356,-1.100681,0.056428,0.448077,-0.848908
401,-0.402030,0.990797,-0.741515,-0.256833,-1.019702,-0.333021,-1.638018,1.430403,-0.971569,-0.613224,-0.717123,0.079439,-0.677769
402,-0.172920,-0.483615,1.245881,-0.256833,2.677335,-0.787241,1.056737,-1.044075,-0.511142,-0.017443,-1.718189,-0.987644,0.420835
403,-0.404226,2.043948,-1.201615,-0.256833,-1.334689,0.475263,-1.799274,1.222729,-0.971569,-0.847926,-1.308662,0.233171,-1.153923

In [37]:
train_mean = np.mean(train_features, axis=0)
train_std = np.std(train_features, axis=0)
train_features = (train_features - train_mean) / train_std

In [9]:
train_features

array([[-0.27224633, -0.48361547, -0.43576161, ...,  1.14850044,
         0.44807713,  0.8252202 ],
       [-0.40342651,  2.99178419, -1.33391162, ..., -1.71818909,
         0.43190599, -1.32920239],
       [ 0.1249402 , -0.48361547,  1.0283258 , ...,  0.78447637,
         0.22061726, -1.30850006],
       ...,
       [-0.40202987,  0.99079651, -0.7415148 , ..., -0.71712291,
         0.07943894, -0.67776904],
       [-0.17292018, -0.48361547,  1.24588095, ..., -1.71818909,
        -0.98764362,  0.42083466],
       [-0.40422614,  2.04394792, -1.20161456, ..., -1.30866202,
         0.23317118, -1.15392266]])

In [10]:
train_features.shape

(404, 13)

In [11]:
test_features.shape

(102, 13)

In [12]:
test_features[0]

array([ 18.0846,   0.    ,  18.1   ,   0.    ,   0.679 ,   6.434 ,
       100.    ,   1.8347,  24.    , 666.    ,  20.2   ,  27.25  ,
        29.05  ])

 __Observation__


- Here, we can see a few Boston housing datasets.
- The given array represents a multi-dimensional array containing numerical values.
- Each row in the array corresponds to a set of features or data points, while each column represents a specific feature or variable.

### Step 3: Building the Model
Building the neural network requires:
- Configuring the layers of the model and compiling the model.
- Stacking a few layers together using **keras.Sequential**.
- Configuring the loss function, optimizer, and metrics to monitor.
These are added during the model's compile step.



Terminologies:
- The **Loss** function measures how accurate the model is during training; we want to minimize this with the optimizer.
- One must **Optimize** how the model is updated based on the data it sees and its loss function.
- **Metrics** are used to monitor the training and testing steps.

In [17]:
shape_input = len(train_features[0])    # 13, means the number of columns in this dataset.

def build_model():
    model = keras.Sequential([
        Dense(20, activation=tf.nn.relu, input_shape=[shape_input]),
        Dense(1)
    ])

    model.compile(optimizer=tf.optimizers.Adam(),
                  loss='mae',
                  metrics=['mean_absolute_error']) # you can add a list of multiple metrics
    return model

### Step 4: Training the Model
Training the neural network model requires the following steps:


- Define a custom callback class **PrintDot**, which prints a dot for every epoch during training.

- Create an instance of the model using the **build_model** function.

- Create an instance of EarlyStopping callback, which monitors the validation loss and stops training if it doesn't improve after a certain number of epochs (specified by patience).

- Train the model using the training features and labels. It runs for 200 epochs, with a validation split of 0.1 (10% of the training data used for validation). The callbacks parameter includes **early_stop** and **PrintDot** callbacks.

- Create a Pandas **DataFrame hist** from the history object returned by the model.fit method. It contains the recorded training and validation metrics.

- Extract the last value of the validation mean absolute error (MAE) from the hist DataFrame and assign it to the variable mae_final.

- Print the final MAE on the validation set, rounded to three decimal places.

In [40]:
class PrintDot(keras.callbacks.Callback):
    def on_epoch_end(self, epoch, logs):
        
        if epoch % 100 == 0: print('')
        print('.', end='')


# def print_metric(epoch,metric):
#     plt.line(epoch,metric)
#     plt.show()


model = build_model()

#To avoid overfitting we use the early stopping technique
# We use a value of 50, but usually is 3-5.
early_stop = keras.callbacks.EarlyStopping(monitor='val_loss', patience=3)

# Do 200 epochs as maximum
# Save 10% of data for testing, data split 90-10.

# callbacks are functions we want the model to run at each epoch (iteration)
history = model.fit(train_features, train_labels, epochs=200, verbose=0, validation_split = 0.1,
                    callbacks=[early_stop, PrintDot()])

#Save some history of the model in a dataset
hist = pd.DataFrame(history.history)
hist['epoch'] = history.epoch

mae_final = float(hist['val_mean_absolute_error'].tail(1))

print()
print()
print('Final  Mean absolute  Error on validation set: {}'.format(round(mae_final, 3)))

/opt/anaconda3/envs/ipykernel_py3/lib/python3.12/site-packages/keras/src/layers/core/dense.py:87: UserWarning: Do not pass an `input_shape`/`input_dim` argument to a layer. When using Sequential models, prefer using an `Input(shape)` object as the first layer in the model instead.
  super().__init__(activity_regularizer=activity_regularizer, **kwargs)

....................................................................................................
.............................................................................

Final  Mean absolute  Error on validation set: 2.631

/var/folders/cc/_kcvjw313pl6kbf8c3bdtnyc0000gn/T/ipykernel_35239/1779641103.py:30: FutureWarning: Calling float on a single element Series is deprecated and will raise a TypeError in the future. Use float(ser.iloc[0]) instead
  mae_final = float(hist['val_mean_absolute_error'].tail(1))

In [27]:
hist

          loss  mean_absolute_error   val_loss  val_mean_absolute_error  epoch
0    21.583471            21.583471  20.604929                20.604929      0
1    21.334248            21.334248  20.347555                20.347555      1
2    21.068392            21.068392  20.069532                20.069532      2
3    20.782753            20.782753  19.771366                19.771366      3
4    20.480766            20.480766  19.445229                19.445229      4
..         ...                  ...        ...                      ...    ...
97    2.962610             2.962610   3.071683                 3.071683     97
98    2.956071             2.956071   3.099031                 3.099031     98
99    2.943495             2.943495   3.047649                 3.047649     99
100   2.931302             2.931302   3.057565                 3.057565    100
101   2.922227             2.922227   3.058422                 3.058422    101

[102 rows x 5 columns]

**Observation**

As shown, the final mean absolute error on the validation set is 2.596.

- It normalizes the test features based on the mean and standard deviation of the training set.
- It evaluates the model's performance on the normalized test features and prints the mean absolute error (MAE) on the test set.

In [32]:
#Normalize the test data, because we trained the model with normalized data
test_features_norm = (test_features - train_mean) / train_std # Use the mean and std from the train data
test_features_norm.shape

(102, 13)

In [33]:
mae,  _ = model.evaluate(test_features_norm, test_labels)
#rmae = np.sqrt(mae)
print(' Mean absolute  Error on test set: {}'.format(round(mae, 3)))

4/4 ━━━━━━━━━━━━━━━━━━━━ 0s 1ms/step - loss: 2.9741 - mean_absolute_error: 2.9741
 Mean absolute  Error on test set: 3.119

**Observation**

The output indicates the following:

- The evaluation was performed on 4 data points.
- The loss value (mean squared error) on the test set is 3.1237.
- The mean absolute error on the test set is also 3.1237.
- The mean absolute error, when rounded, is 3.124.

In summary, the model achieved a loss value of 3.1237 and a mean absolute error of 3.1237, which translates to a mean absolute error of approximately 3.124.